<div class="header">
  <div class="logo"><%= image_tag "backlyne-smaller.png", width: 280, id: 'logo' %></div>
  <div class="nav-wrapper">
    <%= render 'dashboard/main_nav' %>
  </div>
  <div class="user-info">User Info</div>
</div>