<div class="header-wrapper">
  <div class="header">
    <%= link_to root_path do %><div class="logo"><%= image_tag "backlyne-smaller.png", id: 'logo' %></div>
    <% end %>
    <div class="nav-wrapper content-panel left">
      <%= render 'dashboard/main_nav' %>
    </div>
    <%= link_to logout_path, method: 'delete' do %>
      <div id="log-out">Log Out <i class="fa fa-sign-out fa-lg"></i></div>
    <% end %>
  </div>
</div>