<div class="header-wrapper">
  <div class="header">
    <%= link_to root_path do %><div class="logo"><%= image_tag "backlyne-smaller.png", id: 'logo' %></div>
    <% end %>
    <div class="nav-wrapper content-pannel left">
      <%= render 'dashboard/main_nav' %>
    </div>
    <div class="user-info">User Info<br>
      <%= link_to "Log Out", logout_path, method: 'delete' %>
    </div>
  </div>
</div>