<ul class="main-nav">
  <%= link_to root_path do %><li>Home</li><% end %>
  <%= link_to lesson_partial_path, remote: true, class: "nav-lesson" do %>
    <li>Lesson</li>
  <% end %>
  <%= link_to finances_partial_path, remote: true, class: "nav-finances" do %>
    <li>Finances</li>
  <% end %>
</ul>