<ul class="main-nav">
  <li><%= link_to "Home", root_path %></li>
  <li><%= link_to "Lesson", lesson_path, remote: true, class: "nav-lesson" %></li>
  <li><a href="#">Appointments</a></li>
  <li><a href="#">Finances</a></li>
</ul>