<div class="appointments">
  <%= render "appointments/index" %>
  <script type="text/javascript">
    appointment.init();
  </script>
</div>
<div class='contacts'>
  <%= render "contacts/index" %>
  <script type="text/javascript">
      newContact.init();
      viewContact.init();
      editContact.init();
      deleteContact.init();
  </script>
</div>
<script type="text/javascript">Lesson.init();</script>