<div class="dashboard-wrapper">
  <div class="header">
    <div class="logo">logo</div>
    <div class="nav-wrapper">
      <%= render 'main_nav' %>
    </div>
  </div>

  <div class="page-wrapper">
    <div class="nav-wrapper">
      <%= render 'side_nav' %>
    </div>
  </div>
</div>
