<% if current_user %>
  <div class="appointments">
      <%= render "appointments/index" %>
      <script type="text/javascript">
        appointmentInit();
      </script>
  </div>
<% else %>
  <%= render partial: "public/landing_page", layout: false %>
<% end %>