<div class="subs border-green">
  <div class="sub-header light-green">
    <br>
    <h3 class="sub-title"> Recent Submissions</h3>
  </div>


	<% @assignments.each do |ass| %>
    <div class="ass"><h4><%= ass.contact_name %></h4>
		<h5>Assignment: <%= ass.title %></h5>
		<li><%= ass.description %></li>
		<%= link_to ass.content_file_name , ass.content.url(:original, false), target: "blank" %></div>
	<% end %>
</div>