<div id="recent">
	<h3>Recent Submissions</h3>
	
	<% @assignments.each do |ass| %>
		<h5><%= ass.title %></h5>
		<li><%= ass.description %></li>
		<li>Date Submitted: <%= ass.created_at %></li>
		<%= link_to ass.content_file_name , ass.content.url(:original, false), target: "blank" %>
	<% end %>
</div>