<div class="payments-chart-module full-9 right">
  <div class="payment-chart-header full-9 blue">
    <h2 class="header-title header-spacing">Overview <i class="fa fa-money"></i></h2>
  </div>
  <div class="payment-chart-content content-panel">
    <canvas id="myChart" width="840" height="250"></canvas>
  </div>
</div>