<div class="payment">
  <h4><%= email_for payment %></h4>
  <li class="amount <%= date_for payment %>">Amount: <%= amount_for payment %></li>
  <li class="date">Date: <%= date_for payment %></li>
</div>

