<div class="payment-history-module span-3 left">
  <div class="payment-history-header span-3 green">
    <h2 class="header-title header-spacing">Payment History <i class="fa fa-usd"></i></h2>
  </div>
  <div class="payment-history-content content-panel small-scroll">
    <% group_by_date(@payments).each do |date, payments| %>
      <h3 class="list-title"><%= date %></h3>
      <% payments.each do |payment| %>
        <div class="payment">
          <%= render 'payment_info', :payment => payment %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

