<div class="payment-history-module">
  <div class="payment-history-header">
    <h2>Payment History <i class="fa fa-usd"></i></h2>
  </div>
  <div class="payment-history-content">
    <% @payments.each do |payment| %>
      <div class="payment">
        <%= render 'payment_info', :payment => payment %>
      </div>
    <% end %>
  </div>
</div>

