<div id="payment-plans" class="left">
  <div class="payment-plans-header module-header header-title header-spacing purple">
    <h2>Payment Plans <i class="fa fa-calendar"></i></h2>
  </div>
  <div class="payment-plans-content content-panel small-scroll">
    <% @plans.each do |plan| %>
      <%= render 'plan_info', :plan => plan %>
    <% end %>
  </div>
</div>
