<div class="full-6 border-blue">
  <div class="module-header header-title blue">
    <h2><i class="fa fa-volume-up"></i> Tuner
      <div class="module-actions">
        <i class="fa fa-times-circle module-delete-link"></i>
        <i class="fa fa-angle-down module-collapse-link"></i>
      </div>
    </h2>
  </div>
  <div class="module-collapse" id="drone-widget">
      <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" width="650" height="450" id="tuner" align="middle">
    <param name="allowScriptAccess" value="sameDomain" />
    <param name="movie" value="http://www-ecs.jamplay.com/client/global/flash/tools/JamPlay-Guitar-Tuner.swf" />
    <param name="quality" value="high" />
    <param name="wmode" value="transparent" />
    <param name="bgcolor" value="#000000" />
    <embed src="http://www-ecs.jamplay.com/client/global/flash/tools/JamPlay-Guitar-Tuner.swf" quality="high" bgcolor="#333333" wmode="transparent" width="650" height="450" name="tuner" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
  </object>
  </div>
</div>
<script type="text/javascript">Metronome.init();</script>