<div class="full-3 border-blue">
  <div class="module-header header-title blue">
    <h2><i class="fa fa-volume-up"></i> Metronome
      <div class="module-actions">
        <i class="fa fa-times-circle module-delete-link"></i>
        <i class="fa fa-angle-down module-collapse-link"></i>
      </div>
    </h2>
  </div>
  <div class="module-collapse" id="metro-widget">
    <iframe src="http://www.123metronome.com/metronome.swf" id="metro-web" width="295" height="300"></iframe>
  </div>
</div>
<script type="text/javascript">Metronome.init();</script>