<div class="students-module-layout students">
  <div class="module-header header-title green">
    <h2> Students
      <div class="module-actions">
        <i class="fa fa-times-circle module-delete-link"></i>
        <i class="fa fa-angle-down module-collapse-link"></i>
      </div>
    </h2>
  </div>
<div class="module-collapse" id="students-mod">

  <div id="contacts-box">
    <%= render 'student_list' %>
  </div>
  <div class="submissions" id="teacher">
    <%= render 'assignments/recent', locals: {:assignments => @assignments} %>
    <%= render 'requests/index', locals: {:pending => @pending} %>
  </div>
</div>

<script type="text/javascript">
  students.init();
</script>

