<div class="pending border-green">
	<div class="sub-header light-green">
    <br>
    <h3 class="sub-title"> Pending Assignments</h3>
  </div>
	<% @pending.each do |req| %>
    <li class="request"><h5>Student: <%= req.contact_name %><br> Assignment: <%= req.title %> </h4>
      Assigned On: <%= req.created_at.to_s[0..9] %></li>
	<% end %>
</div>