<div class="full-6 border-green">
  <div class="module-header header-title green">
    <h2><i class="fa fa-microphone"></i> Something Else
      <div class="module-actions">
        <i class="fa fa-times-circle module-delete-link"></i>
        <i class="fa fa-angle-down module-collapse-link"></i>
      </div>
    </h2>
  </div>
  <div class="module-collapse">
    <h3>Here is Some other Module</h3>
    <p>Me o my</p>
  </div>
</div>