<div class='contacts-module span-3-right right'>
  <%= render 'contacts/list' %>
</div>
<div class="new-contact-form-wrapper contact-hidden">
      <%= render 'contacts/new', user: @user, contact: @contact %>
</div>

<script type="text/javascript">Contact.init();</script>