/****************
 General Styles
****************/

.appointment-hidden {
  display: none;
}


/***********
 Layout
***********/


.appointments-pannel {
  width: 278px;
  height: 800px;
  overflow-y: scroll;
}

.new-appointment-form {
  position: absolute;
  left: 286px;
  top: 0;
  width: 300px;
  z-index: 5;
}

.appointments-form-item {
  margin: 5px;
}

.appointments-form-submit input {
  width: 100%;
  display: inline-block;
  margin: 0 auto;
  background: #368ee0;
  border: 0;
  border-radius: 5px;
  color: white;
  font-size: 1.2em;
  border: 2px solid #368ee0;
}

.appointments-form-submit input:hover {
  cursor: pointer;
}

.appointments-header i {
  margin-left: 45px;
}

.appointments-header i:hover {
  cursor: pointer;
}

.appointments-module {
  width: 280px;
  margin-right: 20px;
  display: inline-block;
  float: left;
}

.appointments-header {
  height: 60px;
  width: 280px;
}

.appointments-header h2 {
  padding: 15px;
  margin: 0;
  color: white;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased !important;
  padding-top: 11px;
}

.appointment-body {
  display: inline-block;
  width: 190px;
  float: left;
  padding-left: 17px;
}


/****************
  Module Styles
****************/

.appointments-module {
  font-family: "Helvetica Neue","Helvetica",Arial,sans-serif;
  position: relative;
}

.appointments-header-new-form {
  margin-left: 235px;
  margin-top: -46px;
  color: white;
}

/*************
  List Styles
*************/

#notice {
margin: 0;
padding: 0;
}

.appointment-list h3 {
  background-color: #e7f1fb;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 0;
  padding: 3px;
  padding-left: 6px;
}

.appointment-list h3:first-child {
  border-top: 0;
}

/***************
  Appointment
***************/

.appointment {
  padding: 12px;
  padding-left: 14px;
  display: inline-block;
  position: relative;
}


.appointment-time {
  display: inline-block;
  width: 40px;
  float: left;
  text-align: center;
}

.appointment-divider {
  color: #368EE0;
  margin: 5px 0;
}


.appointment-title {
  font-size: 1.3em;
  font-weight: 500;
  margin-top: -3px;
  word-wrap: break-word;
}

.appointment-description {
  word-wrap: break-word;
}


.appointment-change-box {
  position: absolute;
}

.appointment-edit {
  margin-left: -9px;
  margin-top: 22px;
}

.appointment-delete {
  margin-left: 30px;
  margin-top: -18px
}

.appointment-edit a {
  color: orange;
  left: 286px;
  top: -2px;
  width: 300px;
}

#appointment_title {
  width: 95%;
  margin: 5px auto 0 auto;
  display: inherit;
  border: 1px solid #368EE0;
  border-radius: 5px;
  font-size: 1.45em;
}

#appointment_description {
  width: 95%;
  margin: -10px auto 0 auto;
  display: inherit;
  border: 1px solid #368EE0;
  border-radius: 5px;
  font-size: 1.05em;
  height: 150px;
}

.appointments-header {
  height: 60px;
  width: 280px;
}

.appointments-header h2 {
  padding: 15px;
  margin: 0;
  color: white;
  padding-top: 11px;
}

.appointment-body {
  display: inline-block;
  width: 190px;
  float: left;
  padding-left: 17px;
}


/****************
  Module Styles
****************/

.appointments-module {
  font-family: "Helvetica Neue","Helvetica",Arial,sans-serif;
  position: relative;
}

.appointments-header {
  background-color: #368EE0;
}

.appointments-header-new-form {
  margin-left: 235px;
  margin-top: -46px;
  color: white;
}

/*************
  List Styles
*************/

#notice {
margin: 0;
padding: 0;
}

.appointment-list h3:first-child {
  border-top: 0;
}

/***************
  Appointment
***************/

.appointment {
  padding: 12px;
  padding-left: 14px;
  display: inline-block;
  position: relative;
}


.appointment-time {
  display: inline-block;
  width: 40px;
  float: left;
  text-align: center;
}

.appointment-divider {
  color: #368EE0;
  margin: 5px 0;
}


.appointment-title {
  font-size: 1.3em;
  font-weight: 500;
  margin-top: -3px;
  word-wrap: break-word;
}

.appointment-description {
  word-wrap: break-word;
}


.appointment-change-box {
  position: absolute;
}

.appointment-delete a {
  color: red;
  position: absolute;
}

.appointment-deleted {
  color: red;
  color: #e63a3a;
}
