/***************
 Layout styles
***************/

body {
  background-color: #F5F5F7;
}

#logo {
  margin-top: -21px;
  margin-left: -3px;
  width: 180px;
}

.header-wrapper {
  width: 100%;
  height: 55px;
  position: fixed;
  background-image: linear-gradient(#f5f5f7,#e9e9ea);
  border-bottom: 1px solid #d3d3d4;
  top: 0;
  left: 0;
  z-index: 9999;
}

.header {
  width: 1200px;
  margin: 0 auto;
  min-height: 45px;
  margin-bottom: 20px;
  padding: 5px 0;
}

.dashboard-wrapper {
  width: 1200px;
  min-height: 600px;
  margin: 20px auto;
}

.content-wrapper {
  margin-top: 73px;
}

#module-area {
  width: 74%;
  height: 75%;
  position: absolute;
  display: inline-block;
  float: left;
}

/****************
  Main Nav
****************/

.nav-wrapper {
  background-color: #FFF;
  display: inline-block;
  float: left;
  margin-right: 20px;
  font-family: "Helvetica Neue","Helvetica",Arial,sans-serif;
  border-radius: 4px;
  border: 1px solid #cececf;
  border-top-color: #b5b5b6;
  border-bottom-color: #dededf;
  -webkit-box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
  -moz-box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
  -ms-box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
  -o-box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
  box-shadow: inset 0 1px 1px rgba(124,124,127,0.1),0 1px 0 rgba(255,255,255,0.7),0 0 4px rgba(86,149,219,0);
  -webkit-transition: border-color .15s linear,box-shadow .15s linear;
  -moz-transition: border-color .15s linear,box-shadow .15s linear;
  -ms-transition: border-color .15s linear,box-shadow .15s linear;
  -o-transition: border-color .15s linear,box-shadow .15s linear;
  transition: border-color .15s linear,box-shadow .15s linear;
}

.main-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

div.nav-wrapper ul a:first-child li {
  padding-left: 9px;
  margin-left: 0px;
}

div.nav-wrapper ul a:last-child li {
  padding-right: 9px;
  margin-right: 0px;
  margin-left: -6px;
}

.main-nav li {
  padding: 10px;
  border-right: solid 1px #e4e4e4;
  min-width: 180px;
  display: inline-block;
  text-align: center;
  margin-left: -4px;
}

.main-nav li:hover {
  background-color: #eeeeee;
  background-image: linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  text-shadow: 0 1px 0 #eee;
}

.main-nav a:first-child li:hover {
  border-radius: 4px 0 0 4px;
}

.main-nav a:last-child li:hover {
  border-radius: 0 4px 4px 0;
}


.main-nav a {
  text-decoration: none;
  color: #333;
  letter-spacing: 1px;
  font-size: 1.2em;
}

.logo {
  display: inline-block;
  float: left;
  width: 180px;
  height: 45px;
  padding: 0;
  margin-right: 120px;
}

.user-info {
  display: inline-block;
  float: left;
  width: 270px;
  height: 45px;
  padding: 0;
  background: #FFF;
}


/************
 Side Nav
************/

.side-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.side-nav li {
  padding: 10px;
  border-bottom: solid 1px #e4e4e4;
  min-width: 140px;
}

.side-nav a {
  text-decoration: none;
  color: #333;
}