/******************
 Whole Page
******************/

#landing-content {
  color: #333;
  font-family: "Helvetica Neue","Helvetica",Arial,sans-serif;
  margin: -12px -14px;
  text-align: center;
  background: #EEEEEE;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/******************
 Signin Modal
******************/

#overlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#modal {
  position: fixed;
  top: 30%;
  left: 40%;
  width: 20%;
  background: rgba(0,0,0,0.2);
  border-radius: 14px;
  padding: 8px;
  z-index: 100;
}

#content {
  border-radius:8px;
  background:#fff;
  padding:20px;
}

#content h1 {
  text-transform: uppercase;
  margin-top: 0px;
}

#content form {
  float: left;
  text-align: right;
}

#content 

#close {
  display:block;
}

/******************
 Application Overview - Top Section
******************/

#app-overview {
  text-align: center;
  color: white;
  padding-bottom: 75px;
}

img#app-overview-background {

  z-index: -1;
}

img#landing-logo{
  position: absolute;
  width: 30%;
  z-index: 1;
  top: 100px;
  left: 35%;
}


#app-overview-text {
  margin-top: -350px;
  margin-bottom: 50px;
}

.tagline {
  font-family: sans-serif;
  font-size: 1.6em;
  margin-bottom: 90px;
  position: relative;
}

#app-overview-text a {
  position: relative;
  font-size: 1.4em;
  color: white;
  text-decoration: none;
  background: #1FA9FF;
  padding: 15px 20px;
  border-radius: 5px;
  margin-right: 60px;
}

img#app-overview-background {
  width: 100%;
  margin: 0 auto;
}

/******************
 Divisor 
******************/

#divisor {
  height: 50px;

  background: white;

  position: relative;
  z-index: 1;

  -webkit-box-shadow: 0 4px 4px -2px #000000;
  -moz-box-shadow: 0 4px 4px -2px #ccc;
  box-shadow: 0 4px 4px -2px #ccc;
}

/******************
 App Features Section
******************/

#feature-highlights {
  padding-bottom: 40px;
  position: relative;
  text-align: center;
}

#feature-highlights h2 {
  font-size: 3em;
  border-bottom: solid gray 3px;
  text-transform: uppercase;
  padding-bottom: 16px;
  width: 35%;
  margin: 48px auto;
}

p.important {
  font-size: 1.6em;
}

.landing-module {
  margin: -20px;
  padding: 60px;
}

#app-features div h3 {
  margin: -24px 0;
  font-size: 2em;
}

#feature-pages p {
  padding-top: 20px;
  font-size: 1.2em;
  width: 80%;
  margin: 0 auto;
}

#feature-pages li {
  text-align: left
  padding-bottom: 4px;
  font-size: 1.2em;
}

img.feature-pic {
  width: 80%;
}

/*#dashboard-features {
  width: 20%;
  float: left;
  border: solid black 1px;
}

#lesson-features {
  width: 24%;
  float: left;
  border: solid blue 1px;
}

#finance-features {
  width: 24%;
  float: left;
  border: solid green 1px;
}*/

/******************
 Footer
******************/

#feedback {
  clear: both;
  padding: 20px;
  border-top: solid gray 1px;
  width: 80%;
  margin: 0 auto;
}

#feedback a {
  text-decoration: none;
  color: gray;
}

#feedback a:hover {
  color: #40BEFF;
}

