#landing-content {
  font-family: sans-serif;
  margin: -12px -14px;
  text-align: center;
  background-color: #BDBDBD;
  color: white;
}

img#app-overview-background {
  opacity: 0.8;
  z-index: -1;
}

img#logo{
  position: absolute;
  width: 30%;
  z-index: 1;
  top: 100px;
  left: 35%;
}

#app-overview {
  text-align: center;
}

#app-overview-text {
  margin-top: -500px;
  margin-bottom: 200px;
}

.tagline {
  font-family: sans-serif;
  font-size: 1.6em;
  margin-bottom: 90px;
  position: relative;
}

#app-overview-text a {
  position: relative;
  font-size: 1.4em;
  color: white;
  text-decoration: none;
  background: #40BEFF;
  padding: 15px 20px;
  border-radius: 5px;
}

img#app-overview-background {
  width: 100%;
  margin: 0 auto;
}

#feature-highlights {
  padding-bottom: 40px;
  position: relative;
  text-align: center;
}

#feature-highlights h2 {
  font-size: 3em;
}

p.important {
  font-size: 1.6em;
}

#dashboard-features, #lesson-features, #finance-features {
  margin: -20px;
  padding: 80px;
}

#app-features div h3 {
  margin-top: -24px;
  font-size: 2em
}

#feature-pages li {
  text-align: left
}

#dashboard-features {
  width: 24%;
  float: left;
}

#lesson-features {
  width: 24%;
  float: left;
}

#finance-features {
  width: 24%;
  float: left;
}

#feedback {
  clear: both;
  padding-bottom: 20px;
}

#feedback a {
  text-decoration: none;
  color: white;
}

#feedback a:hover {
  color: #40BEFF;
}



