/************
  Side Nav
************/

.lesson-side-nav {
  margin-left: 240px;
  margin-top: -17px;
}

.side-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.side-nav li {
  padding: 10px 0 10px 10px;
  border-right: solid 1px #e4e4e4;
  width: 170px;
  display: inline-block;
  margin-left: -4px;
  text-align: center;
}

.side-nav a {
  text-decoration: none;
  color: #333;
}

.side-nav li:hover {
  background-color: #eeeeee;
  background-image: linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  text-shadow: 0 1px 0 #eee;
}

.side-nav a:first-child li:hover {
  border-radius: 4px 0 0 4px;
}

.side-nav a:last-child li:hover {
  border-radius: 0 4px 4px 0;
}

#module-area {
  width: 96%;
  height: 86%;
  position: absolute;
  display: inline-block;
  float: left;
  left: 16px;
  top: 104px;
}