/***************
 Generic Module
***************/

.hidden {
  display: none;
}

.module {
  display: inline-block;
}

/*************
 Test Module
*************/

.test-module {
  width: 150px;
  height: 150px;
  display: inline-block;
  border: 1px solid black
}

.module-header {
  width: 100%;
  height: 40px;
  background-color: #EBEBEC;
}