#advanced-search {
  display: none;
}

#user-tracks{
  display: none;
}

.track {
  text-align: center;
  width: 250px;
  height: 250px;
  margin: 10px;
  margin-left: 21px;
  float: left;
  border-radius: 10px;
}

.tracks {
  overflow-y: scroll;
  height: 550px;
  width: 880px;
}

#search-results {
  text-align: center;

}

.soundcloud {
  text-align: center;
}

.sounds {
  text-align: center;
  font-family: "Helvetica Neue","Helvetica",Arial,sans-serif;
}

#search-tracks{
  text-align: center;
}

#metro-widget {
  height: 230px;
  overflow: hidden;
}

#metro-web {
  position: relative;
  top: -37px;
}

#drone-widget {
  height: 380px;
  overflow: hidden;
}

.sound-button {
  padding: 20px;
  margin: 10px;
  border: 0px orange solid;
  border-radius: 15px;
  font-size: 20px;
}

#search-sound {
  width: 300px;
  font-size: 25px;
  border: 1px orange solid;
  height: 50px;
  border-radius: 10px;
}

#search-des {
  color: #333;
  font-size: 30px;
}

.sound-cloud-text {
  color: #333;
  font-size: 40px;
  font-style:italic;
}

.subs::-webkit-scrollbar {
  width: 0px;
}