#advanced-search {
  display: none;
}

#user-tracks{
  display: none;
}

.track {
  text-align: center;
  border: 1px black solid;
  width: 300px;
  height: 250px;
  margin: 10px;
  float: left;
}

.tracks {
  overflow-y: scroll;
  height: 550px;
  width: 750px;
}