/***************
 Contacts panel
***************/

#students-list .contacts-panel {
  height: 300px;
  width: 300px;
  width: 297px;
  margin-left: 2px;
}

/*************
 Student Feed
*************/

#students-module-wrapper {
  width: 620px;
}

#teacher .subs {
  width: 300px;
  height: 300px;
  margin: 2px 0 0 0;
  border: 0;
  display: inline-block;
}

#teacher .pending {
  width: 300px;
  height:300px;
  margin: 0;
  border: 0;
}

#teacher .subs::-webkit-scrollbar-track,
#teacher .pending::-webkit-scrollbar-track,
.student-subs::-webkit-scrollbar-track  {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#teacher .subs::-webkit-scrollbar,
#teacher .pending::-webkit-scrollbar,
.student-subs::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

#teacher .subs::-webkit-scrollbar-thumb,
#teacher .pending::-webkit-scrollbar-thumb,
.student-subs::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #555555;
}


/************
 Student View
************/



#single-student-subs {
  width: 300px;
  height: 300px;
  display: inline-block;
}

#single-pending {
  width: 300px;
  height: 300px;
  display: inline-block;
  float: left;
  margin-top: 0;
  border-top: 1px solid #D3D3D3;
}

.single-student-feed {
  float: right;
  display: inline-block;
  width: 300px;
  height: 600px;
}

#single-info {
  width: 300px;
  height: 300px;
  display: inline-block;
  float: left;
  margin: -2px 0 0 -2px;
  border-top: 1px solid #d3d3d3;
  text-align: center;
  font-family: "Helvetica Neue","Helvetica",Arial,sans-serif;
}

#single-info h4 {
  margin: 8px 0;
}


.student-subs {
  width: 300px;
  height: 300px;
  overflow-y: scroll;
  text-align: center;
  margin: 2px 0 0 0;
  float: left;
  overflow-x: auto;
}

.field_with_errors {
  display: inline;
  color: red;
}


#contacts-box {
  width: 300px !important;
  height: 300px !important;
  margin: 2px 0 0 -2px !important;
  text-align: center;
  float: left;
  overflow: hidden;
}

.submissions {
  width: 300px;
  float: right;
}

.student-submissions {
  width: 90%;
}

.pending {
  height: 50%;
  overflow-y: scroll;
  text-align: center;
  margin: 10px;
  float: left;
  width: 400px;
  overflow-x: auto;
}

#info {
  width: 300px;
  height: 400px;
  text-align: center;
  margin: 10px;
  float: left;
  overflow-x: auto;
}


#teacher-view {
  display: none;
}

a.view {
  text-decoration: none;
  color: black;
}

.request {
  background: lightblue;
  border-radius: 5px;
  border: 1px blue solid;
  width: 80%;
  margin: 10px;
  margin-left: 40px;
}

.view-button {
  color: black;
  background: #FF6666;
  border-radius: 5px;
  margin: 10px;
  text-decoration: none;
  padding: 10px;
}

.ass {
  background: lightblue;
  border-radius: 5px;
  border: 1px blue solid;
  width: 80%;
  margin: 10px;
  margin-left: 40px;
}


.students-module-layout {
  width: 598px;
}

#students-mod {
  margin-top: -2px;
}