<div class="appointments-module span-3 left">
    <div class="appointments-header blue">
        <h2 class="header-title">Appointments <i class="appointments-header-new-form fa fa-plus-square fa-lg"></i></h2>
    </div>
    <div class="new-appointment-form light-blue border-blue appointment-hidden">
        <%= render 'appointments/form'%>
    </div>
    <div class="appointments-pannel content-panel small-scroll">
        <h4 id="notice"><%= notice %></h4>
        <div class="appointment-list">
            <%= render 'appointments/list' %>
        </div>
        </table>
    </div>
</div>