<h1>Listing appointments</h1>
<% @appointments_by_date.each do |date, appointments| %>
    <h1><%= date.strftime("%B %e %Y") %></h1>
    <% @appointments.each do |appointment| %>
      <div class="appointment">
        <%= render partial: 'list', locals: { appointment: appointment } %>
      </div>
    <% end %>
<% end %>
</table>

<br />

<%= link_to 'New Appointment', new_appointment_path %>




