<h1>Listing appointments</h1>
<h3 id="notice"><%= notice %></h3>
<div class="appointment-list">
    <%= render 'list' %>
</div>
</table>

<%= link_to 'New Appointment', new_appointment_path, id: "new-appointment" %>
<div class="new-appointment-form hidden">
    <%= render 'form'%>
</div>



