<div class="nav-wrapper">
  <ul class="side-nav">
    <li><a href="#">Lesson Tools</a></li>
    <li><%= link_to "Metronome", lesson_path, remote: true, class: "metronome" %></li>
    <li><a href="#">Tuner</a></li>
    <li><a href="#">Drone</a></li>
    <li><a href="#">Sheet Music</a></li>
    <li><a href="#">Play Music</a></li>
  </ul>
</div>