<div class="nav-wrapper">
  <ul class="side-nav">
    <li>Lesson Tools</li>
    <li><%= link_to "Metronome", metronome_path, remote: true, class: "metronome-link" %></li>
    <li><%= link_to "Another Test", another_test_module_path, remote: true, class: "another-test-module-link" %></li>
    <li>Drone</li>
    <li>Sheet Music</li>
    <li>Play Music</li>
  </ul>
</div>