<div class="nav-wrapper">
  <ul class="side-nav">
    <li><a href="#">Lesson Tools</a></li>
    <li><%= link_to "Metronome", metronome_path, remote: true, class: "metronome-link" %></li>
    <li><%= link_to "Another Test", another_test_module_path, remote: true, class: "another-test-module-link" %></li>
    <li><a href="#">Drone</a></li>
    <li><a href="#">Sheet Music</a></li>
    <li><a href="#">Play Music</a></li>
  </ul>
</div>