<div class="lesson-side-nav left">
  <%= render 'dashboard/lesson/side_nav' %>
</div>
<div id="module-area"></div>
<div class="ui-widget-content draggable module hidden" id="master-module-template"></div>

<script type="text/javascript">Lesson.init();</script>
<script type="text/javascript">students.init();</script>