<div id='landing-content'>
  <div id='app-overview'>
    <%= image_tag "backlyne-logo.png", id: 'logo' %>
    <%= image_tag "fretboard2.png", id: 'app-overview-background' %>
    <div id='app-overview-text'>
      <p class='tagline'>We let you concentrate on being a great teacher, not on running a business.</p>
      <%= link_to 'Start Using Backlyne', new_user_path %>
    </div>
  </div>
  <div id='app-features'>
    <div id='feature-highlights'>
      <h2>Why Backlyne?</h2>
        <p class='important'>Backlyne provides you with a set of tools designed to make your life as a music instructor easier.</p>
    </div>
    <div id='feature-pages'>
      <div id='dashboard-features' class='landing-module'>
        <h3>Dashboard</h3>
        <p>From your primary dashboard, you can accomplish the following:</p>
        <ul>
          <li>check your upcoming lessons</li>
          <li>schedule lessons with students</li>
          <li>easily access student contact info</li>
        </ul>
      </div>
      <div id='lesson-features' class='landing-module'>
        <h3>Lesson</h3>
          <p>Backlyne gives you access to these tools via your lesson page</p>
          <ul>
            <li>sheet music</li>
            <li>metronome</li>
            <li>drone</li>
            <li>access to SoundCloud</li>
          </ul>
      </div> 
      <div id='finance-features' class='landing-module'>
        <h3>Finances</h3>
          <p>Track your teacher-related income using Backlyne's finance tools. You can easily</p>
          <ul>
            <li>request payment from students</li>
            <li>visualize past payments</li>
            <li>see your income over time</li>
            <li>view outstanding payments</li>
          </ul>
      </div> 
    </div>
  </div>
  <div id='feedback'>
    <h2>Feedback &amp; Suggestions</h2>
    <p>Is there a feature that you would like to see? Please <%= mail_to "me@example.com", 'send us' %> your suggestions. </p>
  </div>
</div>
